:root{
    --clr-base-gray: rgb(194, 194, 194);
    --clr-base-cyan: rgb(43, 206, 152);  
    --clr-dark-gray: rgb(73, 73, 73); 
    --clr-offwhite: rgb(228, 228, 228);     
}

.navbar h1{
    color: var(--clr-base-cyan);
}

#home-bar{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header3{
    color: white;
    font-weight: bold;
}

.navbar-nav li a{
    color: var(--clr-base-cyan);
    padding-right: 1em!important;
}

.form-head{
    background-color: var(--clr-base-gray);
    padding: 10px
}

.form-group .dropdown-group{
    background-color: var(--clr-base-cyan);
    color: white;
    font-weight: bold;
}

.form-container{
    border: 2px solid var(--clr-base-gray);
    border-radius: 8px;
}

.col-6 .form-container{
    padding: 0px 0px
}

.form-body{
    padding: 20px 0px;
}

.form-foot .btn{
    background-color: var(--clr-base-cyan);
    color: white;
    font-weight: bold;
    float: right;
}

.form-foot{
    background-color: var(--clr-offwhite);
    padding: 20px;
    overflow: auto;
}

.form-body .license{
    display: block;
}

.radios{
    display: flex;
    justify-content: space-around;
    max-width: 11em;
}